@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

.navbar-brand {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
}

.navbar-custom {
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  background-color: transparent;
}

.navbar-toggler:hover {
  outline: none;
}

.navbar-blur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  .navbar-blur {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 991px) {
  .navbar-collapse form {
    margin-top: 4px;
  }
}

.filter-btn {
  z-index: 1050;
}

.tags-btn {
  z-index: 1050;
}

.text-title-muted {
  color: #575f65;
}

.text-msg-muted {
  color: #6c757d;
}

#tagSuggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 20px;
  border: 3px solid;
  border-color: transparent;
  font-size: 12px;
  background-color: inherit;
  border-radius: 50px;
  font-weight: bold;
  color: #1e1e1e;
  box-shadow: 0 0 0 2px #1e1e1e;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 16px;
  fill: #1e1e1e; /* Default arrow color */
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 8px;
}

.animated-button .arr-2 {
  left: -20%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #14a44d;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-6px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 8px;
}

.animated-button:hover .arr-1,
.animated-button:hover .arr-2 {
  fill: white;
}

.animated-button:hover .arr-1 {
  right: -20%;
}

.animated-button:hover .arr-2 {
  left: 8px;
}

.animated-button:hover .text {
  transform: translateX(6px);
}

.animated-button:active {
  scale: 0.9;
  box-shadow: 0 0 0 4px #14a44d;
}

.animated-button:hover .circle {
  width: 100px;
  height: 100px;
  opacity: 1;
}
